/***************************************/
/*************** Imports ***************/
/***************************************/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/***************************************/
/**************** Body *****************/
/***************************************/
main {
	height: 100vh;
	overflow: hidden;
}

/***************************************/
/********** Background Video ***********/
/***************************************/
video {
	position: absolute;
	z-index: -1;
	left: 0;
}

/***************************************/
/************** Game Area **************/
/***************************************/
#gameContainer {
	position: relative;
}

#gameArea {
	width: 70%;
	margin: 30vh auto 0 auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/***************************************/
/************* Play Button *************/
/***************************************/
.btn {
	margin: 0 auto;
	position: relative;
}

.btn button {
	height: 60px;
	width: 120px;
	font-size: 36px;
}

/***************************************/
/************* Characters **************/
/***************************************/
#characters {
	position: absolute;
	top: 300px;
	left: 40%;
	display: none;
}

.character img {
	max-height: 150px;
}

/***************************************/
/************* Player Name *************/
/***************************************/
#playerName {
	display: none;
	position: absolute;
	left: calc(50vw - 134px);
	top: calc(50vh + 20px);
}

#playerName input {
	height: 40px;
	width: 200px;
}

#startGameBtn {
	height: 40px;
}
